body {
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 600px 300px repeat(3, 400px) 200px 400px 200px 400px 200px;

}

span {
    display: flex;
    justify-content: center;
    align-items: center;


}

.one {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 45px 200px;

    transition-duration: 0.4s;
}

.button {
    font-family: Karina;
    font-weight: 700;
    font-size: 17px;
    color: rgb(85, 84, 84);

    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;

}

.button:hover {
    opacity: 0.6;

    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

span {
    font-family: Karla;
    font-weight: 700;
    font-size: large;
    text-align: center;
}

p {
    font-family: Karla;
    font-weight: 500;
    text-align: center;
    line-height: 150%;

    padding: 3%;

}

.item1 {
    grid-column: 1/4;
    background-image: url(images/1.jpg);
    background-repeat: no-repeat;


}

.item2 {
    background-color: whitesmoke;
    grid-column: 1/4;
}

.item3 {
    background-color: brown;
    grid-column: 1/3;

    background-image: url(images/2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

.subgrid_A {
    display: grid;
    grid-column: 3/4;
    grid-template-rows: 2fr 1fr;
}

.subgrid_B {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-column: 1/2;
}

.item4 {

    background-image: url(images/3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.item5 {
    background-image: url(images/5.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.item6 {
    grid-column: 2/4;

    background-image: url(images/4.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.item7 {
    background-image: url(images/6.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.subgrid_C {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.item8 {
    background-image: url(images/8.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.item9 {
    background-image: url(images/7.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

.item10 {
    background-color: whitesmoke;
    grid-column: 1/4;
}

.item11 {
    background-image: url(images/9.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    grid-column: 1/4;
}

.item12 {
    background-color: rgb(59, 59, 59);

    grid-column: 1/4;

    text-align: center
}

.item13 {
    background-image: url(images/6small.jpg);
    background-size: cover;
    grid-column: 1/4;

    display: flex;
    flex-direction: row;


    margin: 1%;
    align-items: center;
    justify-content: center;




}

.item14 {
    background-color: whitesmoke;
    grid-column: 1/2;

    display: flex;
    justify-content: left;
    align-items: center;

    font-family: Karla;
    font-weight: 500;
    color: lightslategrey;
    font-size: 20px;

}


.item15 {
    background-color: whitesmoke;
    grid-column: 2/3;

    display: flex;
    justify-content: center;
    align-items: center;

}

.item16 {
    background-color: whitesmoke;
    grid-column: 3/4;
}

.p1 {
    font-family: Karla;
    font-weight: 500;
    color: lightslategrey;
    font-size: 20px;
}



.button_2 {
    font-family: Karina;
    font-weight: 500;
    border: 1px solid white;
    background-color: rgb(59, 59, 59);
    color: white;


    margin: 7%;
    padding: 10px 50px 10px 50px;

    transition-duration: 0.4s;

}


.button_2:hover {
    background-color: #4CAF50;
    color: white;

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}

.Button_E-mail {
    background-color: rgb(125, 224, 125);
    color: white;

    font-family: Karina;
    font-weight: 500;

    padding: 10px 15px;
    border: none;
}

.Button_E-mail:hover {
    background-color: #4CAF50;
    color: white;

    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);

}


input {
    background-color: white;

    padding: 8px 14px 10px 8px;
    margin: 3px;

    border: 1px solid lightslategray;
    color: lightslategray;
}


.tooltip {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: gray;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}